/* тут важен порядок */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/Rubik.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/Rubikbold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/*общий шрифт*/
body {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  background: #ffffff;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  /*Сглаживание текста*/
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  min-width: 1440px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  background-color: transparent;
}

/*--Скрытый элемент--*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.h2 {
  font-family: "Raleway", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.p {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.button {
  cursor: pointer;
  display: block;
  min-height: 40px;
  box-sizing: border-box;
  padding: 9.5px 10px;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 0;
}

/*-------- ХЕДЕР --------*/
.navigation {
  background: #ffe17f;
  background-image: linear-gradient(#ffffff 0 40px, #ffe17f 40px 100%);
  display: grid;
  column-gap: 40px;
  row-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 17.39px 60px 22.61px 60px;
  box-sizing: border-box;
  position: relative;
}

.logo {
  grid-column: 1/-1;
  justify-self: start;
  position: relative;
}

.page-logo {
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.logo:hover .page-logo,
.logo:hover .page-logo-footer {
  opacity: 0.6;
}

.logo:active .page-logo,
.logo:active .page-logo-footer {
  opacity: 0.3;
}

.logo:focus {
  outline: none;
  box-shadow: none;
}

.logo:focus img {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.page-logo-background {
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0) invert(1);
}

.search {
  display: flex;
  align-content: center;
  justify-content: center;
  align-self: start;
  font-family: "Rubik", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-right: -17px;
}

.search-input-wrapper {
  flex-grow: 1;
}

.search-input {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #000000;
  background-color: transparent;
  background-image: url("../images/search-ico.svg");
  background-size: 16px 16px;
  background-position: left 15px center;
  background-repeat: no-repeat;
  border: 2px solid #000000;
  border-radius: 20px 0 0 20px;
  min-height: 40px;
  padding: 0 22px 0 44px;
  margin: 0;
  box-sizing: border-box;
  cursor: text;
  width: 100%;
  height: 100%;
}

.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-results-button,
.search-input::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:hover {
  box-shadow: 0 0 0 1px rgba(255, 200, 0, 0.6);
}

.search-input:focus {
  box-shadow: none;
  outline: none;
}

.search-input-wrapper:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: none;
}

.search-input:disabled {
  opacity: 0.3;
}

.search-button-wrapper {
  margin-left: -2px;
}

.search-button {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 0 20px 20px 0;
  min-width: 160px;
  min-height: 40px;
  flex-shrink: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.search-button:focus {
  box-shadow: none;
  outline: none;
}

.search-button-wrapper:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: none;
}

.search-button:disabled {
  opacity: 0.3;
}

.user-menu,
.user-menu-left,
.user-menu-right,
.navigation-menu,
.footer-navigation-menu,
.social-list,
.catalog-categories,
.tabs-list,
.tabs-info-list,
.about-list,
.delivery-company-list,
.slider-pagination,
.catalog-list,
.catalog-section-list,
.cart-items-list,
.catalog-filter-list,
.product-list,
.pagination {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-menu-left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
}

.user-menu-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}

.user-menu-item {
  position: relative;
}

.user-menu-left > .user-menu-item:first-child {
  margin-right: 28px;
}

.user-menu-right > .user-menu-item:first-child {
  margin-right: 14px;
}

.user-menu-link {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  padding: 2px;
  position: relative;
  display: block;
  margin: 3px 0;
}

.user-menu-link svg {
  margin: auto;
  margin-right: 13px;
  margin-left: 0;
  padding: 0;
  fill: #000000;
  display: inline-block;
}

.user-menu-link:hover {
  opacity: 0.6;
}

.user-menu-link:active {
  opacity: 0.3;
}

.user-menu-link:focus {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.product-count-output {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border-radius: 10.5px;
  background-color: #ffffff;
  min-width: 21px;
  min-height: 21px;
  max-width: 150px;
  display: inline-block;
  position: relative;
  padding: 2px 4px;
  text-align: center;
  margin: 0;
  margin-right: -10px;
  top: -2px;
  box-sizing: border-box;
  word-wrap: break-word;
}

.product-count-output + svg {
  margin-right: 10px;
}

.logout {
  opacity: 0.3;
}

.navigation-link,
.catalog-button,
.footer-navigation-link,
.yellow-button-span,
.exclusive-delivery,
.yellow-button,
.email-button,
.popover-button,
.pagination-prev,
.pagination-next,
.white-button {
  font-family: "Raleway", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.catalog-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  margin-right: auto;
  padding: 0;
  position: relative;
  z-index: 2;
}

.catalog-button-span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 2px solid #000000;
  opacity: 0.3;
  position: relative;
  display: inline-block;
  margin-left: 16px;
  flex-shrink: 0;
}

.close-catalog .catalog-button-span::before,
.open-catalog .catalog-button-span::after,
.open-catalog .catalog-button-span::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 16px;
  height: 2px;
  background-color: #000000;
  content: "";
}

.open-catalog .catalog-button-span::after {
  transform: rotate(-90deg);
}

.catalog-button:hover .catalog-button-span,
.catalog-button:active .catalog-button-span {
  opacity: 1;
}

.catalog-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: none;
}

.navigation-menu {
  align-items: start;
  margin-right: -23px;
  margin-left: 6px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  justify-items: center;
  z-index: 2;
}

.navigation-item {
  margin: 0;
  padding-top: calc(8px / 2);
  box-sizing: border-box;
  min-height: 50px;
}

.navigation-link {
  padding: 10.5px;
  position: relative;
  display: block;
}

.navigation-link-current::after {
  position: relative;
  display: block;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #000000;
  content: "";
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus {
  box-shadow: none;
  outline: 2px solid #af4fff;
  outline-offset: -8.5px;
}

/* catlog + - */
.catalog-list {
  position: absolute;
  background-color: #ffe17f;
  left: 0;
  right: 0;
  top: calc(100% - 40px);
  z-index: 1;
  display: flex;
  padding: 25px 60px 33px 60px;
}

.open-catalog + .catalog-list-close {
  display: none;
}

.catalog-list-item:first-child {
  margin-right: 41px;
}

.catalog-list-item {
  min-width: 211px;
  min-height: 120px;
}

.catalog-section-item {
  min-height: calc(100% + 2px);
}

.catalog-section-item + .catalog-section-item {
  margin-top: 5px;
}

.catalog-section-item-link {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.catalog-section-item-link-current::after {
  display: block;
  margin-top: 1px;
  height: 1px;
  background-color: #000000;
  content: "";
}

.catalog-section-item-link:hover {
  opacity: 0.6;
}

.catalog-section-item-link:active {
  opacity: 0.3;
}

.catalog-section-item-link:focus {
  box-shadow: none;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* поповер*/
.popover {
  position: absolute;
  transform: translateX(-50%);
  left: 35px;
  z-index: 3;
  font-family: "Rubik", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  width: 320px;
  min-height: 301px;
  display: flex;
  flex-direction: column;
}

.popover::after {
  content: "";
  background-image: url("../images/triangle.svg");
  width: 14px;
  height: 6px;
  position: absolute;
  transform: rotate(0deg);
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.cart-item-image {
  margin-right: 23px;
}

.popover-close {
  display: none;
}

.cart-item {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.cart-item-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex: 0 0;
  padding-right: 5px;
}

.cart-item + .cart-item {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-item-delete-button {
  width: 10px;
  height: 10px;
  background-color: transparent;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  display: block;
  border: none;
  outline: none;
  box-shadow: none;
}

.cart-item-link:hover,
.cart-item-delete-button:hover {
  opacity: 0.6;
}

.cart-item-link:active,
.cart-item-delete-button:active {
  opacity: 0.3;
}

.cart-item-link:focus,
.cart-item-delete-button:focus {
  box-shadow: none;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.popover div {
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  align-items: center;
}

.popover-button {
  margin: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  min-height: 50px;
}

.popover-button:hover {
  background-color: #ffe17f;
}

.popover-button:active {
  background-color: #ffe17f;
  color: rgba(0, 0, 0, 0.3);
}

.popover-button:focus {
  box-shadow: none;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.popover-button:disabled {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

/*-------- МЕИН --------*/
.page-main {
  flex-grow: 1;
}

/* Слайдер */
.slider {
  background-color: #ffe17f;
  background-image: linear-gradient(#ffe17f 0 150px, #ffffff 150px 100%);
  display: grid;
  column-gap: 40px;
  row-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  margin-top: -37px;
}

/*левая часть слайдера*/
.slider-wrapper {
  position: relative;
}

.slider-info {
  display: none;
}

.slider-info-show {
  display: block;
}

.slider-controls {
  position: absolute;
  bottom: 51.6%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-button {
  width: 20px;
  height: 60px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url("../images/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 30px;
}

.slider-prev {
  transform: rotate(180deg);
}

/*правая часть слайдера*/
.slider .h2 {
  margin-block-start: 122px;
  margin-block-end: 29px;
  position: relative;
  min-height: 100px;
}

.slider .p {
  margin-block-end: 50px;
  min-height: 60px;
}

.slider-number {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  align-items: center;
  color: #ffffff;
  position: absolute;
  right: 47px;
  top: 82px;
}

.slider-info .yellow-button {
  width: 220px;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: -10px;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 163px;
}

.slider-pagination-item {
  margin: 10px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  border: 2px solid #000000;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  display: block;
}

.slider-pagination-button-current {
  background-color: #000000;
  border: none;
}

.characteristic {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.characteristic div {
  display: flex;
  flex-direction: column-reverse;
  margin: 10px 10px;
}

.characteristic dd {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin: 0;
}

.characteristic dt {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  padding-top: 12px;
}

/*---*/
.slider button:hover {
  opacity: 0.6;
}

.slider button:active {
  opacity: 0.3;
}

.slider button:focus {
  box-shadow: none;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.slider button:disabled {
  opacity: 0.1;
}

/* Список категорий каталога */
.catalog-categories {
  background-color: transparent;
  display: grid;
  column-gap: 40px;
  row-gap: 45px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  margin: 70px 0;
}

.catalog-categories-item {
  display: flex;
  flex-direction: column;
}

.catalog-categories-link {
  font-family: "Raleway", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
  display: block;
  flex-grow: 1;
}

.catalog-categories-link-div {
  background-color: #ffe17f;
  position: relative;
  margin-bottom: 33px;
  /*transition: background-color 0.5s;*/
}

.catalog-categories-link-div::after {
  content: "";
  padding-top: 100%;
  display: block;
}

.virtual-reality {
  background-image: url("../images/virtual-reality.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.selfie-monopods {
  background-image: url("../images/selfie-monopods.svg");
  background-repeat: no-repeat;
  background-position: center bottom 0;
}

.action-cameras {
  background-image: url("../images/action-cameras.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.fitness-bracelets {
  background-image: url("../images/fitness-bracelets.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.smart-watches {
  background-image: url("../images/smart-watches.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.quadcopters {
  background-image: url("../images/quadcopters.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-categories-link span {
  display: block;
  margin-bottom: 12px;
}

.catalog-categories-link:hover .catalog-categories-link-div {
  background-color: #ffc700;
  transition: background-color 0.4s;
}

.catalog-categories-link:active {
  opacity: 0.3;
}

.catalog-categories-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: none;
}

/*------- доставка, гарантия, кредит  -------*/
.tabs {
  background-image: linear-gradient(#ffffff 0 102px, #f0f0f0 102px 100%);
}

.tabs-container {
  background-color: transparent;
  margin: 70px 0;
  min-height: 319px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  padding-bottom: 72px;
}

.tabs-container::before {
  content: " ";
  width: 7px;
  order: 2;
  flex-shrink: 0;
  align-self: stretch;
  background-color: #000000;
}

.tabs-list {
  flex: 0 0 280px;
  padding: 64px 0;
  order: 1;
  align-self: start;
}

.tabs-item + .tabs-item {
  margin-top: 35px;
}


.yellow-button-span {
  text-align: center;
  position: relative;
  color: inherit;
  display: inherit;
  transform: translateX(2px) translateY(1px);
}

.tabs-list .yellow-button-span {
  min-width: 140px;
  width: min-content;
}

.tabs-button-active {
  color: #ffe17f;
  background-color: #000000;
  width: 100%;
}

.tabs-button-active:hover {
  color: rgba(255, 225, 127, 0.5);
}

.tabs-button-active:active {
  color: rgba(255, 225, 127, 0.3);
}

.tabs-button-active:focus {
  outline: 2px solid #af4fff;
  box-shadow: none;
}

@keyframes stretching-yellow-button {
  0% {
    height: 8px;
  }

  100% {
    height: 100%;
  }
}

.yellow-button {
  position: relative;
  background-color: transparent;
}

.yellow-button::before {
  content: " ";
  position: absolute;
  height: 8px;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffe17f;
}

.yellow-button:hover::before {
  animation-name: stretching-yellow-button;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.yellow-button:active::before {
  height: 100%;
  background-color: #ffcc33;
}

.yellow-button:focus {
  outline: 2px solid #af4fff;
  box-shadow: none;
}

.yellow-button:disabled,
a.yellow-button:not([href]) {
  opacity: 0.3;
}

.tabs-info-list {
  order: 3;
  flex-grow: 1;
}

.tabs-info-item {
  padding: 64px 28px 64px 116px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.show {
  display: flex;
}

.tabs-info-item div {
  flex: 0 1 480px;
}

.tabs-info-item .h2 {
  margin-block-end: 34px;
}

.tabs-info-item img {
  margin-left: auto;
}

.delivery {
  padding: 64px 63px 64px 116px;
}

/*-------товар под заказ ------*/
.exclusive-delivery {
  background-color: #f0f0f0;
  margin: 70px 0;
  min-height: 100px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.exclusive-delivery span {
  font-size: 20px;
  line-height: 23px;
  padding-top: 3px;
  letter-spacing: 0.2em;
}

.emblem {
  flex: 0 0 125px;
  position: relative;
  align-self: stretch;
  background-color: #ffe17f;
}

.emblem:last-of-type {
  background-color: transparent;
}

.exclusive-delivery-tooltip {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.5);
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  display: block;
  position: relative;
  margin: auto;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
}

.exclusive-delivery-tooltip svg,
.emblem:first-of-type svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.exclusive-delivery-tooltip svg {
  opacity: 0.3;
}

.exclusive-delivery:hover .emblem:first-of-type,
.exclusive-delivery:active .emblem:first-of-type {
  background-color: #ffc700;
}

.exclusive-delivery:hover svg,
.exclusive-delivery:active svg {
  opacity: 1;
}

.exclusive-delivery:active {
  opacity: 0.3;
}

.exclusive-delivery:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: none;
}

/*--------- Информация об ---------*/
.about-list {
  background-color: transparent;
  display: grid;
  column-gap: 128px;
  row-gap: 45px;
  grid-template-columns: 500px 510px;
  max-width: 1160px;
  margin: 70px auto;
}

.about-item::before {
  content: " ";
  display: block;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-item .h2 {
  margin-block-start: 40px;
  margin-block-end: 48px;
}

.about-item .p {
  margin-block-end: 30px;
}

.delivery-company-list {
  margin-block-end: 30px;
}

.delivery-company-item {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  display: flex;
  align-items: baseline;
}

.delivery-company-item::before {
  background-color: #ffc700;
  display: inline-block;
  position: relative;
  width: 8px;
  height: 8px;
  content: " ";
  margin-right: 28px;
  border-radius: 50%;
  transform: translateY(-25%) translateX(2px);
  order: -1;
  flex: 0 0 8px;
}

.delivery-company-item + .delivery-company-item {
  margin-top: 19px;
}

.about-item .yellow-button {
  width: 270px;
}

.h3 {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin-block-start: 0;
  margin-block-end: 15px;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.about-item .contacts-phone {
  color: #444444;
  font-size: inherit;
}

.about-item:last-child .yellow-button {
  width: 259px;
}

/*-------- рассылка -----*/
.mailing {
  background-color: #f0f0f0;
}

.mailing-cotainer {
  background-color: transparent;
  display: grid;
  column-gap: 40px;
  row-gap: 139px;
  grid-template-columns: repeat(6, 1fr);
  padding: 65px 0 51px 0;
  grid-template-areas: "a a a b b b"
                       "c c c c c d";
  align-items: center;
}

.mailing-cotainer .h2 {
  grid-area: a;
  margin-left: 7px;
}

.mailing-cotainer .p {
  grid-area: b;
  margin-left: 7px;
  margin-top: auto;
}

.mailing-cotainer .email {
  grid-area: c;
}

.email {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0;
  margin-right: 149px;
}

.email-input {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  min-height: 57px;
  padding: 0 16px;
  padding-top: 3px;
  flex-grow: 1;
  margin: 0;
  box-sizing: border-box;
  cursor: text;
  outline: none;
}

.email-input::placeholder {
  color: #444444;
  opacity: 0.5;
}

.email-input:hover::placeholder {
  opacity: 0.7;
}

.email-input:focus {
  background-color: #dcdcdc;
}

.email-input:focus:invalid,
.email-input.error {
  border-color: #ff3d3d;
}

.email-input:invalid {
  box-shadow: none;
}

.email-button {
  min-height: 57px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid #c4c4c4;
  margin: 0;
  padding: 0;
  outline: none;
  flex: 0 0 253px;
}

.email-button:hover {
  border-color: #000000;
}

.email-button:active {
  border-color: #000000;
  opacity: 0.3;
}

.email-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: none;
}

.email-button:disabled {
  opacity: 0.3;
}

/*----*/

.mailing-cotainer .its-free {
  grid-area: d;
  justify-self: end;
  padding-left: 30px;
  position: relative;
}

.its-free::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/v.svg");
  background-size: 14px 14px;
  background-position: center;
  background-repeat: no-repeat;
}

/*-------- ФУТЕР --------*/
.page-footer {
  background-color: #444444;
}

.footer-container {
  background-color: transparent;
  display: grid;
  column-gap: 40px;
  row-gap: 47px;
  grid-template-columns: 2fr 4fr 2fr;
  padding: 62px 0 59px 0;
}

.page-logo-footer {
  margin-bottom: -12px;
  display: block;
}

.p-footer,
.contacts-phone {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-family: "Rubik", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.yellow-line {
  background: #ffc700;
  width: 80px;
  height: 7px;
  align-self: center;
}

.footer-navigation-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-right: 20px;
}

.footer-navigation-item {
  box-sizing: border-box;
  padding: 2px 0;
}

.footer-navigation-link {
  color: #ffffff;
  padding: 2px;
  position: relative;
  display: block;
}

.footer-navigation-link:hover,
.footer-navigation-link:active {
  color: #ffc700;
}

.footer-navigation-link:active {
  opacity: 0.3;
}

@keyframes stretching-footer-link {
  0% {
    width: 0;
  }

  100% {
    width: 98%;
    left: 0%;
  }
}

.footer-navigation-link:hover::after {
  animation-name: stretching-footer-link;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: -4px;
  left: 50%;
  height: 2px;
  background-color: #ffc700;
  content: "";
}


.footer-navigation-link:active::after {
  position: absolute;
  right: 2px;
  left: 0;
  bottom: -4px;
  height: 2px;
  background-color: #ffc700;
  content: "";
}

.footer-navigation-link:focus {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.contacts-phone-div {
  justify-self: end;
  display: block;
}

.contacts-phone:hover {
  color: #ffc700;
}

.contacts-phone:active {
  color: #ffc700;
  opacity: 0.3;
}

.contacts-phone:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: none;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item + .social-item {
  margin-left: 15px;
}

.social-link {
  display: block;
}

.social-link-span {
  display: block;
  position: relative;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.social-link svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #444444;
}

.social-link:hover .social-link-span {
  background-color: #ffc700;
  transition: background-color 0.3s;
}

.social-link:active .social-link-span {
  background-color: #ffc700;
}

.social-link:active svg {
  fill: #444444;
  opacity: 0.3;
}

.social-link:focus {
  box-shadow: none;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/*------------Логотип htmlacademy-----------*/
.htmlacademy-logo-link {
  display: block;
  position: relative;
  width: 115px;
  height: 100%;
  justify-self: end;
  align-self: center;
  padding: 2px;
  right: -2px;
}

.htmlacademy-logo-link svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #ffc700;
}

.htmlacademy-logo-link:hover svg {
  fill: #ffffff;
}

.htmlacademy-logo-link:active svg {
  fill: #ffffff;
  opacity: 0.3;
}

.htmlacademy-logo-link:focus {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

/*------- Модальное окно -------*/
.modal-container {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px;
  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-exclusive-delivery {
  box-sizing: border-box;
  width: 920px;
}

.modal-form-h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 42px;
}

.close-window {
  position: relative;
  padding: 0;
  width: 26px;
  height: 26px;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  background-image: url("../images/close-modal.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
  flex-shrink: 0;
}

.close-window:hover {
  opacity: 0.6;
}

.close-window:active {
  opacity: 0.3;
}

.close-window:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: none;
}

.modal-form {
  display: grid;
  row-gap: 42px;
  column-gap: 40px;
  grid-template-columns: 160px 160px 140px 180px;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.field-group-name {
  grid-column: span 2;
}

.field-group-email {
  grid-column: span 2;
}

.field-group-product {
  grid-column: span 3;
}

.field-group-count {
  grid-column: span 1;
}

.modal-form .yellow-button {
  max-width: 200px;
  grid-column: span 2;
}


.vaild-invalid-text {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  min-height: 20px;
  display: block;
  background-color: transparent;
}

.modal-form-label {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 14px;
}

.modal-input {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #f0f0f0;
  border: none;
  min-height: 60px;
  padding: 20px;
  padding-right: 60px;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.modal-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.modal-input.name {
  background-image: url("../images/user-menu-user.svg");
  background-repeat: no-repeat;
  background-size: 13px 12px;
  background-position: center right 21px;
}

.modal-input.e-mail {
  background-image: url("../images/email-ico.svg");
  background-repeat: no-repeat;
  background-size: 15px 12px;
  background-position: center right 20px;
}

.modal-input.name::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
  right: 0;
}

.modal-input.name:invalid + .vaild-invalid-text::before {
  content: attr(data-text-invalid);
  color: #000000;
}

.modal-input.e-mail:invalid + .vaild-invalid-text::before {
  content: attr(data-text-invalid);
  color: #ff3d3d;
}

.modal-input:valid + .vaild-invalid-text::before {
  content: attr(data-text-valid);
  color: #000000;
}

.modal-input:focus:invalid,
.modal-input.error {
  box-shadow: inset 0 0 0 2px #ff3d3d;
}

.modal-input:invalid {
  box-shadow: none;
}

.modal-input:hover {
  background-color: #dcdcdc;
}

.modal-input:focus:hover {
  background-color: #f0f0f0;
}

.modal-input:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: none;
}

.modal-input:disabled {
  opacity: 0.3;
}


/* - 1 + */
.count {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
}

.back,
.next {
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  position: relative;
  flex-shrink: 0;
}

.back::before,
.next::after,
.next::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 16px;
  height: 2px;
  background-color: #000000;
  content: "";
  z-index: 4;
}

.next::after {
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.back:hover,
.next:hover {
  background-color: #ebebeb;
}

.back:hover::before,
.next:hover::after,
.next:hover::before {
  opacity: 0.6;
}

.back:active::before,
.next:active::after,
.next:active::before {
  opacity: 0.3;
}

.back:focus,
.next:focus {
  outline: 2px solid #af4fff;
  outline-offset: -2px;
  box-shadow: none;
}

.back:disabled,
.next:disabled,
.back:hover:disabled,
.next:hover:disabled {
  background-color: #f0f0f0;
  cursor: default;
  opacity: 0.3;
}

.back:disabled::before,
.next:disabled::after,
.next:disabled::before,
.back:hover:disabled::before,
.next:hover:disabled::after,
.next:hover:disabled::before {
  opacity: 0.3;
}

.product-count {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  text-align: center;
  width: 40%;
  height: 100%;
  background: #f0f0f0;
}

.product-count::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.product-count::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.error-count {
  display: none;
}

.product-count:invalid + .error-count {
  content: "";
  display: block;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  outline: none;
  box-shadow: 0 0 0 2px #ff3d3d;
  pointer-events: none;
}

.product-count:focus + .error-count {
  content: "";
  display: block;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: none;
  pointer-events: none;
}

.product-count:focus:invalid + .error-count {
  content: "";
  display: block;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: 0 0 0 2px #ff3d3d;
  pointer-events: none;
}

/*----- i -----*/
.wrapper-i {
  position: relative;
  padding-right: 34px;
  z-index: 5;
}

.tooltip {
  position: absolute;
  margin-left: 9px;
  display: inline-block;
  transform: translateY(-15%);
}

.dop-info {
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-color: #ffe17f;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  background-image: url("../images/info.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  display: block;
}

.tooltip-text {
  width: 200px;
  min-height: 160px;
  box-sizing: border-box;
  padding: 19px;
  background: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  position: absolute;
  top: 100%;
  transform: translateX(-76%) translateY(10px);
  left: 50%;
  display: none;
  margin: 0;
}

.tooltip-text::after {
  content: "";
  background-image: url("../images/triangle.svg");
  width: 14px;
  height: 6px;
  position: absolute;
  bottom: 100%;
  left: 76%;
  transform: translateX(-50%);
}

.dop-info:hover + .tooltip-text,
.dop-info:focus + .tooltip-text {
  display: block;
}

/*-----Стили для страницы каталога-----*/

.inner-header {
  padding: 0 60px;
  box-sizing: border-box;
  margin: 35px 0 0 0;
}

.inner-header .h2 {
  margin-block-end: 10px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  color: #242424;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 36px;
  list-style-type: none;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;/*16 по макету*/
  width: 4px;
  height: 7px;
  opacity: 0.2;
  background-color: transparent;
  background-image: url("../images/breadcrumbs.svg");
  background-position: center;
  background-size: 4px 7px;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: none;
}


.produst-catalog {
  background-color: #f0f0f0;
  margin-top: 30px;
}

.h3-catalog {
  font-family: "Raleway", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-block-start: 0;
  margin-block-end: 0;
}

.catalog-filter .h3-catalog {
  margin-top: 25.5px;
  margin-bottom: 70px;
}

.catalog-filter {
  flex: 0 0 220px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.catalog-filter-group {
  margin: 0;
  margin-top: 45px;
  padding: 0;
  border: none;
  position: relative;
}

/*.catalog-filter-group::before*/
.catalog-filter-title::before {
  content: "";
  background-color: #000000;
  height: 2px;
  display: block;
  position: relative;
  margin: 0;
  width: 200px;
  top: -12px;
  left: -2px;
}

.produst-catalog-container {
  padding-left: 60px;
  box-sizing: border-box;
  display: flex;
}

.product-card-title,
.catalog-filter-title {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-block-start: 0;
  margin-block-end: 0;
}

.product-card-price {
  line-height: 21px;
  flex: 5 0 80px;
  text-align: end;
}

.range-wrapper-inputs {
  display: flex;
  margin-right: 20px;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  width: max-content;
  position: absolute;
}

.catalog-filter-label + .catalog-filter-label {
  margin-left: 73px;
}

.catalog-filter-label:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 18px;
}

.control-label {
  font-size: inherit;
  line-height: inherit;
  padding: 0.5px 0;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 3px;
  cursor: pointer;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  background-color: transparent;
  background-image: url("../images/vv.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  content: "";
}

.control-input[type="checkbox"]:not(:checked) + .control-mark,
.control-input[type="radio"]:not(:checked) + .control-mark {
  border: 2px solid #cccccc;
}

.control-input:focus + .control-mark {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: none;
}

.control-input:hover ~ span {
  opacity: 0.6;
}

.control-input:active ~ span {
  opacity: 0.3;
}

.control-input:disabled ~ span {
  opacity: 0.1;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-top: 27px;
  margin-bottom: 33px;
  margin-right: 20px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  background: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.range-toggle:active {
  background-color: #000000;
}

.range-toggle:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: none;
}

.toggle-min {
  top: -8px;
  left: -9px;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.catalog-filter-label.toggle-min {
  top: 15px;
  left: 0;
  transform: translateX(-50%);
}

.catalog-filter-label.toggle-max {
  top: 15px;
  right: 0;
  transform: translateX(50%);
}

.range-input {
  padding: 0;
  font: inherit;
  text-align: left;
  background-color: transparent;
  border: none;
  appearance: textfield;
  flex-grow: 0;
  width: 10px;
  box-shadow: none;
  outline: none;
  color: rgba(0, 0, 0, 0.3);
}

.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button,
.select-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.catalog-filter-list {
  margin-top: 20.5px;
}

.control {
  font-size: 16px;
  line-height: 19px;
  position: relative;
  display: block;
  padding-left: 36px;
}


.catalog-filter .yellow-button {
  width: 220px;
  margin-top: 39px;
}

.catalog-right-column {
  flex-grow: 1;
}

.sorting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  margin: 0 40px;
}

.select-control {
  font: inherit;
  min-width: 151px;
  margin-right: 9px;
  padding: 0;
  padding-right: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: top 12px right 2px;
  background-size: 10px 7px;
  cursor: pointer;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: none;
}

.select-control:disabled {
  opacity: 0.1;
}

.button-container {
  display: flex;
}

.sorting-button {
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
}

.sorting-button svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill-opacity: 0.2;
}

.sorting-button.down {
  transform: rotate(180deg);
}

.sorting-button:hover svg {
  fill-opacity: 0.5;
}

.sorting-button:active svg {
  fill-opacity: 1;
}

.sorting-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: none;
}

.product-list-container {
  display: grid;
  row-gap: 44px;
  padding: 70px 40px 78px 40px;
  background-color: #ffffff;
}

.product-list {
  background-color: transparent;
  display: grid;
  column-gap: 40px;
  row-gap: 43px;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

.product-card-link {
  text-decoration: none;
  color: #000000;
  position: relative;
  display: block;
}

.product-card-link:hover .product-card-content {
  opacity: 0.6;
}

.product-card-link:active .product-card-content {
  opacity: 0.3;
}

.product-card-link.new:active .product-card-content {
  opacity: 0.6;
}

.product-card-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: none;
}

.product-card-image-content {
  position: relative;
  margin-bottom: 32px;
  outline: 1px solid #444444;
  outline-offset: -1px;
  background-color: #efefef;
}

.product-card-image {
  margin: 0 auto;
  display: block;
}

.product-card-image-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 2;
  outline: 1px solid #444444;
  outline-offset: -1px;
}

.product-card-image-hover::before {
  content: " ";
  position: absolute;
  height: 8px;
  width: 220px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffe17f;
}

.product-card-link:hover .product-card-image-hover,
.product-card-link:active .product-card-image-hover {
  opacity: 1;
}

.product-card-link:active .product-card-image-hover::before {
  background-color: #ffc700;
}

.product-card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-card-title {
  margin-right: 10px;
  flex: 1 5 210px;
}

.new::before {
  font-family: "Raleway", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  content: "new";
  padding: 21px 9px;
  box-sizing: border-box;
  position: absolute;
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.6;
  z-index: 1;
}

.white-button {
  display: block;
  min-height: 55px;
  width: 100%;
  box-sizing: border-box;
  border: 3px solid #e5e5e5;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
}

.white-button:hover {
  border-color: #000000;
}

.white-button:active {
  border-color: #000000;
  opacity: 0.3;
}

.white-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: none;
}

.white-button:disabled {
  opacity: 0.3;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 71px;
  background-color: #ebebeb;
}

.pagination-prev,
.pagination-next {
  display: block;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 25px;
  padding-right: 22px;
  margin: 0;
  background-color: #ebebeb;
  cursor: pointer;
}

.pagination-disabled {
  opacity: 0;
  cursor: default;
  pointer-events: none;
}

.pagination-prev:hover,
.pagination-next:hover {
  background-color: #dcdcdc;
}

.pagination-prev:active,
.pagination-next:active {
  background-color: #dcdcdc;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-prev:focus,
.pagination-next:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: none;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0 25px;
  padding: 0;
  background-color: transparent;
}

.pagination-link {
  display: block;
  min-width: 40px;
  min-height: 40px;
  box-sizing: border-box;
  padding: 10px 0;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.pagination-link[href]:hover {
  opacity: 1;
}

.pagination-link[href]:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  box-shadow: none;
  opacity: 1;
  color: rgba(68, 68, 68, 0.6);
}

.pagination-link[href]:active {
  opacity: 0.1;
}

.pagination-current,
.pagination-current:hover,
.pagination-current:active {
  opacity: 0.6;
  cursor: default;
}
